.Card{
    padding: 1.5rem;
    margin: 1rem 1.5rem;
    border: 2px solid #eee;
    box-shadow: 5px 5px 5px #eee;
    border-radius: 0.2rem 0.2rem 1.5rem 1.5rem;
}

.Card:hover {
    cursor: pointer;
}

.Card .title {
    color: #111;
    margin-bottom: 0.7rem;
    text-align: center;
    font-size: 1.1rem;
}

.Card .text {
    margin-bottom: 0.7rem;
}

.Card .text h2 {
    color: #555;
    font-size: 1rem;
}

.Card .text h3 {
    color: #aaa;
    font-size: 0.7rem;
}

@media (max-width: 900px){
    html {
        font-size: 25px;
    }
}