.cards{
    display: grid;
    grid-template-columns: 26% 26% 26%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px){
    .cards{
        grid-template-columns: 90%;
        justify-content: space-evenly;
    }
}